<%= simple_form_for(@movement, html: { class: 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4'}) do |f| %>
  <% if movement.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(movement.errors.count, "error") %> prohibited this movement from being saved:</h2>

      <ul>
        <% movement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-2 gap-4">
    <%= f.input :wallet_id, collection: Wallet.all %>
    <%= f.input :user_id, collection: User.all, label_method: :full_name %>
    <%= f.input :kind_of, collection: Movement.kind_ofs.keys, include_blank: false %>
    <%= f.input :amount, input_html: { min: '0', step: 'any' } %>
    <%= f.input :payment_date, class: "h-full" %>
  </div>
  <div class="grid grid-cols-1 gap-4">
    <%= f.input :description %>
  </div>

  <div class="grid grid-cols-1 gap-4">
    <%= f.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>