<div id="<%= dom_id movement %>" class="<%= movement.saida? ? 'bg-red-100' : 'bg-blue-100' %> shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
  <div class="text-gray-700">
    <div class="grid md:grid-cols-<%= action_name != "show" ? '1' : '2'%> text-sm">
      <div class="grid grid-cols-2">
        <div class="px-4 py-2 font-semibold">Tipo de transação:</div>
        <div class="px-4 py-2"><%= "#{movement.kind_of} - #{movement.sub_kind_of}" %></div>
        <div class="px-4 py-2 font-semibold">Valor:</div>
        <div class="px-4 py-2"><%= number_to_currency(movement.amount) %></div>
        <div class="px-4 py-2 font-semibold">Data do pagamento:</div>
        <div class="px-4 py-2"><%= l movement.payment_date %></div>
        <% if movement.dizimo? %>
          <div class="px-4 py-2 font-semibold">dizimista:</div>
          <div class="px-4 py-2" title="<%= movement.user.name %>"><%= movement.user.id %></div>
        <% end %>
        <div class="px-4 py-2 font-semibold">Conta:</div>
        <div class="px-4 py-2"><%= movement.wallet.name %></div>
        <div class="px-4 py-2 font-semibold">Tipo de conta:</div>
        <div class="px-4 py-2"><%= movement.wallet.kind_of %></div>
      </div>
      <% if action_name == "show" %>
        <div class="grid grid-cols-1">
          <div class="px-4 py-2 font-semibold">Descrição:</div>
          <div class="px-4 py-2"><%= movement.description %></div>
          <div class="px-4 py-2 font-semibold">Recibo:</div>
          <div class="px-4 py-2">
            <% if movement.receipt.attached? %>
              <%= link_to movement.receipt, target: '_blank' do %>
                <%= image_tag(movement.receipt.variant(:thumb), class: 'p-1 bg-white border rounded max-w-sm shadow-lg') %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
      <div class="grid grid-cols-2">
        <% if action_name != "show" %>
          <%= link_to "Exibir", movement, class: "text-center border border-indigo-500 bg-indigo-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-indigo-600 focus:outline-none focus:shadow-outline" %>
          <%= link_to 'Editar', edit_movement_path(movement), class: "text-center border border-teal-500 bg-teal-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-teal-600 focus:outline-none focus:shadow-outline" %>
        <% else %>
          <%= link_to 'Editar', edit_movement_path(movement), class: "text-center border border-teal-500 bg-teal-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-teal-600 focus:outline-none focus:shadow-outline" %>
          <%= link_to 'Remover', movement_path(movement), method: :delete, class: "text-center border border-red-500 bg-red-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-red-600 focus:outline-none focus:shadow-outline" %>
        <% end %>
      </div>
  </div>
</div>