<% th_class="text-sm font-medium text-gray-900 px-6 py-4 text-left" %>
<div class="w-full grid grid-cols-2 gap-4">
  <div class="w-full grid grid-cols-1 md:grid-cols-3 xl:grid-cols-3 gap-4">
    <div class="bg-green-300 shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900"><%= number_to_currency(@monthMovementsIn) %></span>
          <h3 class="text-base font-normal text-gray-500">Entradas no mês</h3>
        </div>
      </div>
    </div>
    <div class="bg-red-300 shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900"><%= number_to_currency(@monthMovementsOut) %></span>
          <h3 class="text-base font-normal text-gray-500">Saídas no mês</h3>
        </div>
      </div>
    </div>
    <div class="bg-yellow-300 shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900"><%= number_to_currency(@monthMovementsBalance) %></span>
          <h3 class="text-base font-normal text-gray-500">Saldo até o mês</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-2 gap-4">
    <div class="bg-white shadow rounded-lg p-4">
      <div class="grid grid-cols-2">
        <% @walletsBalances.each do |wallet| %>
          <div class="flex-shrink-0">
            <span class="text-1lg sm:text-2lg leading-none font-bold text-gray-900">
              <%= number_to_currency(wallet.movements.sum(:amount)) %>
            </span>
            <h3 class="text-base font-normal text-gray-500"><%= wallet.name %></h3>
          </div>
        <% end %>
      </div>
    </div>
    <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <%= form_with url: movements_path, method: :get do |f| %>
            <%= f.select(:month, options_for_select([
              ['Janeiro',1],['Fevereiro',2],['Março',3],['Abriu',4],['Maio',5],['Junho',6],['Julho',7],['Agosto',8],
              ['Setembro',9],['Outubro',10],['Novembro',11],['Dezembro',12]
            ], selected: @month)) %>
            <%= f.select(:year, options_for_select(list_2022_to_today, selected: @year)) %>
            <%= f.submit 'Carregar' %>
          <% end %>
          <%= link_to "Mês atual", movements_path, class: "text-base font-normal text-gray-500" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid grid-cols-1 my-4">
  <div class="bg-white shadow rounded-lg p-6">
    <div class="flex items-center justify-between">
      <h3 class="text-xl font-bold leading-none text-gray-900">Movimentações</h3>
      <%= link_to 'Nova movimentação', new_movement_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    </div>
  </div>
</div>
<div class="grid grid-col-1 my-4">
  <div class="bg-white shadow rounded-lg">
    <table class="min-w-full">
      <thead class="bg-white border-b">
        <tr class="bg-gray-300">
          <th scope="col" class="<%= th_class %>">
            Tipo
          </th>
          <th scope="col" class="<%= th_class %>">
            Valor
          </th>
          <th scope="col" class="<%= th_class %>">
            Data do pagamento
          </th>
          <th scope="col" class="<%= th_class %>">
            Dizimista
          </th>
          <th scope="col" class="<%= th_class %>">
            Conta
          </th>
          <th scope="col" class="<%= th_class %>">
            Tipo de conta
          </th>
          <th scope="col" class="<%= th_class %>">
            Descrição
          </th>
          <th scope="col" class="<%= th_class %>">
            Recibo
          </th>
          <th scope="col" class="<%= th_class %>">
            Opções
          </th>
        </tr>
      </thead>
      <tbody>
        <%= render @movements %>
      </tbody>
    </table>
  </div>
</div>
