<div id="<%= dom_id church %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= church.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fundation date:</strong>
    <%= church.fundation_date %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this church", church, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this church', edit_church_path(church), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
