<%= simple_form_for(@user, html: { class: 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4'}) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="grid grid-cols-4 gap-4">
    <%= f.input :avatar %>
  </div>
  <div class="grid grid-cols-4 gap-4">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :gender, collection: User.genders.keys, value: user.gender %>
    <%= f.input :marital_status, collection: User.marital_statuses.keys, value: user.marital_status %>
    <%= f.input :contact_number %>
    <%= f.input :cpf %>
    <%= f.input :rg %>
    <%= f.input :email %>
    <%= f.input :birth_date, as: :string %>
    <%= f.input :baptism_date, as: :string %>
    <%= f.input :member_since, as: :string %>
    <%= f.input :church_id, collection: Church.all, value: user.church %>
  </div>
  <div class="grid grid-cols-2 gap-4">
    <%= f.input :address %>
    <%= f.input :description %>
  </div>
  <div class="grid grid-cols-1 gap-4">
    <%= f.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
