<%= simple_form_for(user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.input :first_name %>
  <%= form.input :last_name %>
  <%= form.input :gender, collection: User.genders.keys %>
  <%= form.input :contact_number %>
  <%= form.input :email %>
  <%= form.input :birth_date, as: :string %>
  <%= form.input :baptism_date, as: :string %>
  <%= form.input :member_since, as: :string %>
  <%= form.input :church_id, collection: Church.all %>
  <%= form.input :address %>
  <%= form.submit %>
<% end %>
