<div id="<%= dom_id user %>" class="<%= user.member_since ? 'bg-indigo-100' : 'bg-white' %> shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
  <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8">
    <span clas="text-green-500">
      <i class="fa-regular fa-user"></i>
    </span>
    <span class="tracking-wide"><%= user.full_name %></span>
  </div>
  <div class="text-gray-700">
    <div class="grid md:grid-cols-2 text-sm">
      <div class="grid grid-cols-2">
        <div class="px-4 py-2 font-semibold">Nome</div>
        <div class="px-4 py-2"><%= user.first_name %></div>
      </div>
      <div class="grid grid-cols-2">
        <div class="px-4 py-2 font-semibold">Sobrenome</div>
        <div class="px-4 py-2"><%= user.last_name %></div>
      </div>
      <div class="grid grid-cols-2">
        <div class="px-4 py-2 font-semibold">Gênero</div>
        <div class="px-4 py-2"><%= user.gender.capitalize %></div>
      </div>
      <div class="grid grid-cols-2">
        <div class="px-4 py-2 font-semibold">Número de contato</div>
        <div class="px-4 py-2"><%= user.contact_number %></div>
      </div>
      <div class="grid grid-cols-2">
        <div class="px-4 py-2 font-semibold">Email</div>
        <div class="px-4 py-2">
          <%= link_to user.email, user.email, class: "text-blue-800" %>
        </div>
      </div>
      <div class="grid grid-cols-2">
        <div class="px-4 py-2 font-semibold">Nascimento</div>
        <div class="px-4 py-2"><%= user.birth_date %></div>
      </div>
      <div class="grid grid-cols-2">
        <div class="px-4 py-2 font-semibold">Data de batismo</div>
        <div class="px-4 py-2"><%= user.baptism_date %></div>
      </div>
            <div class="grid grid-cols-2">
        <div class="px-4 py-2 font-semibold">Membro desde</div>
        <div class="px-4 py-2"><%= user.member_since %></div>
      </div>
    </div>
    <div class="grid md:grid-cols-1 text-sm">
      <div class="grid grid-cols-1">
        <div class="px-4 py-2 font-semibold">Endereço</div>
        <div class="px-4 py-2"><%= user.address %></div>
      </div>
    </div>
    <div class="grid grid-cols-2">
      <% if action_name != "show" %>
        <%= link_to "Exibir", user, class: "text-center border border-indigo-500 bg-indigo-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-indigo-600 focus:outline-none focus:shadow-outline" %>
        <%= link_to 'Editar', edit_user_path(user), class: "text-center border border-teal-500 bg-teal-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-teal-600 focus:outline-none focus:shadow-outline" %>
      <% else %>
        <%= link_to 'Editar', edit_user_path(user), class: "text-center border border-teal-500 bg-teal-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-teal-600 focus:outline-none focus:shadow-outline" %>
        <%= link_to 'Remover', user_path(user), method: :delete, class: "text-center border border-red-500 bg-red-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-red-600 focus:outline-none focus:shadow-outline" %>
      <% end %>
    </div>
  </div>
</div>
<!-- End of about section -->
