<div id="<%= dom_id wallet %>" class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
  <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8">
    <span clas="text-green-500">
      <i class="fa-solid <%= kind_of_icon(wallet.kind_of) %>"></i>
    </span>
    <span class="tracking-wide"><%= wallet.name %></span>
  </div>
  <div class="text-gray-700">
    <div class="grid md:grid-cols-1 text-sm">
      <div class="grid grid-cols-2">
        <div class="px-4 py-2 font-semibold">Tipo de conta:</div>
        <div class="px-4 py-2"><%= wallet.kind_of %></div>
      </div>
      <div class="grid grid-cols-2">
        <div class="px-4 py-2 font-semibold">Total:</div>
        <div class="px-4 py-2"><%= wallet.movements.sum(:amount) %></div>
      </div>
      <div class="grid grid-cols-2">
        <% if action_name != "show" %>
          <%= link_to "Exibir", wallet, class: "text-center border border-indigo-500 bg-indigo-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-indigo-600 focus:outline-none focus:shadow-outline" %>
          <%= link_to 'Editar', edit_wallet_path(wallet), class: "text-center border border-teal-500 bg-teal-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-teal-600 focus:outline-none focus:shadow-outline" %>
        <% else %>
          <%= link_to 'Editar', edit_wallet_path(wallet), class: "text-center border border-teal-500 bg-teal-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-teal-600 focus:outline-none focus:shadow-outline" %>
          <%= button_to 'Remover', wallet_path(wallet), method: :delete, class: "text-center border border-red-500 bg-red-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-red-600 focus:outline-none focus:shadow-outline" %>
        <% end %>
      </div>
    </div>
  </div>
</div>