<%= simple_form_for(@transaction, class: "contents") do |f| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= f.input :wallet_id, collection: Wallet.all, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

    <div class="my-5" id="transaction_user_id_group">
    <%= f.input :user_id, collection: User.all, label_method: :full_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= f.input :kind_of, collection: Transaction.kind_ofs.keys, include_blank: false, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= f.input :amount, class: "block mt-2 h-5 w-5", input_html: { min: '0', step: 'any' } %>
  </div>

  <div class="my-5">
    <%= f.input :payment_date %>
  </div>

  <div class="my-5">
    <%= f.input :description, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="inline">
    <%= f.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>