<!DOCTYPE html>
<html>
  <head>
    <title>ChurchManager</title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B2FK1BR487"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-B2FK1BR487');
    </script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="h-screen" style="background: #edf2f7;">
    <div>
      <%= render "layouts/navbar" %>
      <div class="flex overflow-hidden bg-white pt-14">
        <%= render "layouts/menu" %>
        <div id="main-content" class="h-full w-full bg-gray-50 relative overflow-y-auto lg:ml-64">
          <main>
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <div class="pt-4 px-4">
              <% if @header_panel == true %>
                <%= render "layouts/header_panel" %>
              <% end %>
              <%= yield %>
            </div>
          </main>
          <%= render "layouts/footer" %>
        </div>
      </div>
    </div>
  </body>
</html>
